<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'drop_ghor_app/css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'drop_ghor_app/css/main1.css' %}" rel="stylesheet"> -->
    <link href="{% static 'drop_ghor_app/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'drop_ghor_app/css/responsive.css' %}" rel="stylesheet">
    <title>Document</title>

</head>

<body>
    <!-- container for all product -->
    <div class="card-body">
        <div class="container mb-5 mt-5 card-container">
            <div class="row">


                <!-- card 1 -->
                <div class="col-md-4 col-sm-6 col-6 col-lg-3 col-xxl-2 res">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img src="{% static 'drop_ghor_app/pro_img/netflix.png' %}" alt="product_img"
                                class="rounded" width="160">
                            <!-- card productname-->
                            <h5>Netflix</h5>

                            <!-- card info -->
                            <div class="mt-3 info">
                                <span class="text1-card d-block">Lorem ipsum dolor sit amet.</span>
                                <span class="text1-card">Lorem, ipsum dolor.</span>
                            </div>

                            <div class="cost mt-3 text-dark">
                                <span>350.00<span>৳</span></span>
                                <div class="star mt-3 align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- button for cards -->
                        <div class="p-3 shoe text-center text-white mt-3 cursor">
                            <span class="text-uppercase">Add to cart</span>
                        </div>
                    </div>
                </div>
                <!-- card 1 end here-->
                <!-- card 2 -->
                <div class="col-md-4 col-sm-6 col-6 col-lg-3 col-xxl-2 res">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img src="{% static 'drop_ghor_app/pro_img/canva.png' %}" alt="product_img" class="rounded"
                                width="160">
                            <!-- card productname-->
                            <h5>Canva Pro</h5>

                            <!-- card info -->
                            <div class="mt-3 info">
                                <span class="text1-card d-block">Lorem ipsum dolor sit amet.</span>
                                <span class="text1-card">Lorem, ipsum doloryu.</span>
                            </div>

                            <div class="cost mt-3 text-dark">
                                <span>89.90<span>৳</span></span>
                                <div class="star mt-3 align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>(4.5)
                                </div>
                            </div>
                        </div>

                        <!-- button for cards -->
                        <div class="p-3 shoe text-center text-white mt-3 cursor">
                            <span class="text-uppercase">Add to cart</span>
                        </div>
                    </div>
                </div>
                <!-- card 2 end here-->
                <!-- card 3 -->
                <div class="col-md-4 col-sm-6 col-6 col-lg-3 col-xxl-2 res">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img src="{% static 'drop_ghor_app/pro_img/netflix.png' %}" alt="product_img"
                                class="rounded" width="160">
                            <!-- card productname-->
                            <h5>Netflix</h5>

                            <!-- card info -->
                            <div class="mt-3 info">
                                <span class="text1-card d-block">Lorem ipsum dolor sit amet.</span>
                                <span class="text1-card">Lorem, ipsum dolor.</span>
                            </div>

                            <div class="cost mt-3 text-dark">
                                <span>99.89<span>৳</span></span>
                                <div class="star mt-3 align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- button for cards -->
                        <div class="p-3 shoe text-center text-white mt-3 cursor">
                            <span class="text-uppercase">Add to cart</span>
                        </div>
                    </div>
                </div>
                <!-- card 3 end here-->
                <!-- card 4 -->
                <div class="col-md-4 col-sm-6 col-6 col-lg-3 col-xxl-2 res">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img src="{% static 'drop_ghor_app/pro_img/netflix.png' %}" alt="product_img"
                                class="rounded" width="160">
                            <!-- card productname-->
                            <h5>Netflix</h5>

                            <!-- card info -->
                            <div class="mt-3 info">
                                <span class="text1-card d-block">Lorem ipsum dolor sit amet.</span>
                                <span class="text1-card">Lorem, ipsum dolor.</span>
                            </div>

                            <div class="cost mt-3 text-dark">
                                <span>99.89<span>৳</span></span>
                                <div class="star mt-3 align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- button for cards -->
                        <div class="p-3 shoe text-center text-white mt-3 cursor">
                            <span class="text-uppercase">Add to cart</span>
                        </div>
                    </div>
                </div>
                <!-- card 4 end here-->
                <!-- card 5 -->
                <div class="col-md-4 col-sm-6 col-6 col-lg-3 col-xxl-2 res">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img src="{% static 'drop_ghor_app/pro_img/netflix.png' %}" alt="product_img"
                                class="rounded" width="160">
                            <!-- card productname-->
                            <h5>Netflix</h5>

                            <!-- card info -->
                            <div class="mt-3 info">
                                <span class="text1-card d-block">Lorem ipsum dolor sit amet.</span>
                                <span class="text1-card">Lorem, ipsum dolor.</span>
                            </div>

                            <div class="cost mt-3 text-dark">
                                <span>99.89<span>৳</span></span>
                                <div class="star mt-3 align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- button for cards -->
                        <div class="p-3 shoe text-center text-white mt-3 cursor">
                            <span class="text-uppercase">Add to cart</span>
                        </div>
                    </div>
                </div>
                <!-- card 5 end here-->
            </div>
        </div>
    </div>
    <!-- container for all product end -->

    <script src="{% static 'drop_ghor_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'drop_ghor_app/js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/a9610867e5.js" crossorigin="anonymous"></script>

</body>
</htm